version: '3.9'
services:
  db:
    image: postgis/postgis:16-3.4
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: maped
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
